@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

$white: #eeeeee;
$yellow: #ffd369;
$blue-dark: #222831;

form {
  flex-direction: column;
  align-items: center;
 // height: 400px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

form .title {
  font-family: "Quicksand", sans-serif;
  font-weight: $bold;
  font-size: 16px;
  color: $white;
}

form .apartment-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  overflow-y: auto;
  margin: 20px 0;
  flex-wrap: wrap;
}

form .apartment-options .apartment {
  display: flex;
  align-items: center;
  background: $blue-dark;
  border: 0;
  padding: 7px 10px;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
}

form .apartment-options .apartment.active {
  border: 1px solid $yellow;
}

form .apartment-options .apartment i {
  margin-right: 5px;
  color: $white;
}

form .apartment-options .apartment p {
  font-family: "Quicksand", sans-serif;
  font-weight: $regular;
  font-size: 16px;
  color: $white;
}

form .container-input {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

form .container-input label {
  font-family: "Quicksand", sans-serif;
  font-weight: $regular;
  font-size: 16px;
  color: $white;
}

form .container-input input {
  border: 0;
  background: transparent;
  border-bottom: 1px solid #eeeeee;
  color: $white;
}

form .container-input input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

form .container-input p {
  font-family: "Quicksand", sans-serif;
  font-weight: $regular;
  font-size: 16px;
  color: $white;
}

form .submit-btn {
  border: 0;
  padding: 9px 13px;
  border-radius: 12px;
  background-color: $blue-dark;
  color: $white;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: $medium;
  font-size: 16px;
  margin-top: 40px;
}
