<div class="container-home" [@openClose]="isNavOpen ? 'open' : 'close'">
  <div class="container-layout">
  <div class="top">
    <div class="left">
      <i class="fas fa-bars menu-btn" (click)="changeNavState()"></i>
      <div class="social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
    <div class="right">
      <button class="get-app-btn">Obtine aplicatia</button>
      <button routerLink="/login" class="login-btn">Intra</button>
    </div>
  </div>
  <div class="bottom">
    <div class="description">
      <h2>Bun venit pe rezident</h2>
      <p>Resident este o aplicație concepută pentru dvs.! Exact ceea ce ai auzit. Începând de astăzi, aveți in mâinile
        dvs administrarea apartamentelor. Pentru a începe, creați o asociatie din butonul de mai jos</p>
      <button class="create-association-btn" (click)="onCreateAssociation()">Creaza asociatie</button>
    </div>
    <div class="image">
      <img src="./assets/img/welcome-image.png" alt="image description">
    </div>
  </div>
  </div>
</div>
