<div class="container-create-user">
  <div class="container-layout">
    <div class="top">
      <p class="title">Creaza-ti contul</p>
      <button class="get-app-btn">Obtine aplicatia</button>
    </div>
    <div class="bottom">
      <div class="container-form">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <h2 class="title">Selecteaza apartamentul tau</h2>
          <div class="apartment-options">
            <div *ngFor="let apartment of fakeListApartment"
              [ngClass]="(profileForm.get('apartmentId').value == apartment.id)?'apartment active':'apartment'"
              (click)="onApartmentSelected(apartment.id)">
              <i class="fas fa-building"></i>
              <p>{{apartment.name}}</p>
            </div>
          </div>
          <div class="container-input">
            <label for="firstName">Nume:</label>
            <input type="text" id="firstName" placeholder="Nume" formControlName="firstName">
          </div>
          <span
            *ngIf="profileForm.get('firstName') !== null && !profileForm.get('firstName').valid && profileForm.get('firstName').touched">Introdu
            un nume valid</span>
          <div class="container-input">
            <label for="lastName">Preunume:</label>
            <input type="text" id="lastName" placeholder="Prenume" formControlName="lastName">
          </div>
          <span
            *ngIf="profileForm.get('lastName') !== null && !profileForm.get('lastName').valid && profileForm.get('lastName').touched">Introdu
            un prenume valid</span>
          <div class="container-input">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Email" formControlName="email">
          </div>
          <span
            *ngIf="profileForm.get('email') !== null && !profileForm.get('email').valid && profileForm.get('email').touched">Introdu
            un email valid</span>
          <div class="container-input">
            <label for="email">Tipul de user:</label>
            <p>{{profileForm.get('userType').value}}</p>
          </div>
          <div class="container-input">
            <label for="phone">Phone:</label>
            <input type="number" id="phone" placeholder="Phone" formControlName="phone">
          </div>
          <span
            *ngIf="profileForm.get('phone') !== null && !profileForm.get('phone').valid && profileForm.get('phone').touched">Introdu
            un numar valid</span>
          <button type="submit" value="Submit" class="submit-btn">Creaza</button>
        </form>
      </div>
      <div class="image">
        <img src="./assets/img/create-account-image.png" alt="image description">
      </div>
    </div>
  </div>
</div>
