<main class="container-utility-management">
  <div class="container-layout">
    <div class="top">
      <div class="container">
        <p class="title">Utility Management</p>
        <div class="container-user-data">
          <div class="notification">
            <i class="fas fa-bell"></i>
            <div class="circle"></div>
          </div>
          <img src="./assets/img/user-profile-image.jpg" alt="user-image">
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="left">
        <div class="left-top">
          <div class="category">
            <div class="box">
              <p [ngClass]="(actualCategory=='All')?'category-name active':'category-name'" (click)="filterData('All')">All</p>
              <p class="number">{{data.length}}</p>
            </div>
            <div class="box">
              <p [ngClass]="(actualCategory=='Gaz')?'category-name active':'category-name'" (click)="filterData('Gaz')">Gaz</p>
              <p class="number">{{filterCategory('Gaz')}}</p>
            </div>
            <div class="box">
              <p [ngClass]="(actualCategory=='Curent')?'category-name active':'category-name'" (click)="filterData('Curent')">Curent</p>
              <p class="number">{{filterCategory('Curent')}}</p>
            </div>
            <div class="box">
              <p [ngClass]="(actualCategory=='Apa')?'category-name active':'category-name'" (click)="filterData('Apa')">Apa</p>
              <p class="number">{{filterCategory('Apa')}}</p>
            </div>
          </div>
          <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Cauta.." (keyup)="searchByProviderName($event)">
          </div>
        </div>
        <div class="left-bottom">
          <div class="box" *ngFor="let provider of newData">
            <div class="logo">
              <img [src]="provider.image" alt="logo provider de servicii">
            </div>
            <i class="fas fa-ellipsis-v" (click)="editPrice(provider.id)"></i>
            <div class="container-info">
              <p class="title">{{provider.title}}</p>
              <div class="info">
                <p class="key">Serviciu</p>
                <p class="value">{{provider.serviciu}}</p>
              </div>
              <div class="info">
                <p class="key">Pret</p>
                <p class="value">{{provider.pret}} lei/{{getUnitOfMisurement(provider.serviciu)}}</p>
              </div>
              <div class="info">
                <p class="key">Data</p>
                <p class="value">{{provider.data}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </div>
    <div class="container-edit" *ngIf="modalState"></div>
    <form class="edit" *ngIf="modalState" [formGroup]="formPrice" (ngSubmit)="onSubmit()">
      <i class="fas fa-times" (click)="onStateChangeModal()"></i>
      <p class="title">Actualizeaza pretul</p>
      <div class="container-input">
        <label for="pret">Pret</label>
        <input type="number" id="pret" placeholder="Pret.." formControlName="price">
      </div>
      <button type="submit" value="Submit" class="btn-save">Salveaza</button>
    </form>
  </div>
</main>
