<main class="container-utility-management">
  <div class="container-layout">
    <div class="top">
      <div class="container">
        <p class="title">Utility Management</p>
        <div class="container-user-data">
          <div class="notification">
            <i class="fas fa-bell"></i>
            <div class="circle"></div>
          </div>
          <img src="./assets/img/user-profile-image.jpg" alt="user-image">
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="left">
        <div class="left-top">
         <div class="category">
           <div class="box">
             <p class="category-name active">All</p>
             <p class="number">5</p>
           </div>
           <div class="box">
            <p class="category-name">Gas</p>
            <p class="number">1</p>
          </div>
          <div class="box">
            <p class="category-name">Curent</p>
            <p class="number">1</p>
          </div>
          <div class="box">
            <p class="category-name">Apa</p>
            <p class="number">3</p>
          </div>
         </div>
         <div class="search">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Cauta..">
         </div>
        </div>
        <div class="left-bottom">
          <div class="box">
            <div class="logo">
              <img src="./assets/img/acea-logo.png" alt="logo provider de servicii">
            </div>
            <i class="fas fa-ellipsis-v"></i>
            <div class="container-info">
              <p class="title">Acea</p>
              <div class="info">
                <p class="key">Serviciu</p>
                <p class="value">Apa</p>
              </div>
              <div class="info">
                <p class="key">Pret</p>
                <p class="value">13 lei/m³</p>
              </div>
              <div class="info">
                <p class="key">Data</p>
                <p class="value">12/08/20</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="logo">
              <img src="./assets/img/engie-logo.png" alt="logo provider de servicii">
            </div>
            <i class="fas fa-ellipsis-v"></i>
            <div class="container-info">
              <p class="title">Engie</p>
              <div class="info">
                <p class="key">Serviciu</p>
                <p class="value">Curent</p>
              </div>
              <div class="info">
                <p class="key">Pret</p>
                <p class="value">15 lei/Kw</p>
              </div>
              <div class="info">
                <p class="key">Data</p>
                <p class="value">25/10/20</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="logo">
              <img src="./assets/img/engie-logo.png" alt="logo provider de servicii">
            </div>
            <i class="fas fa-ellipsis-v"></i>
            <div class="container-info">
              <p class="title">Engie</p>
              <div class="info">
                <p class="key">Serviciu</p>
                <p class="value">Gaz</p>
              </div>
              <div class="info">
                <p class="key">Pret</p>
                <p class="value">12 lei/m³</p>
              </div>
              <div class="info">
                <p class="key">Data</p>
                <p class="value">06/07/20</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="logo">
              <img src="./assets/img/acea-logo.png" alt="logo provider de servicii">
            </div>
            <i class="fas fa-ellipsis-v"></i>
            <div class="container-info">
              <p class="title">Acea</p>
              <div class="info">
                <p class="key">Serviciu</p>
                <p class="value">Apa</p>
              </div>
              <div class="info">
                <p class="key">Pret</p>
                <p class="value">13 lei/m³</p>
              </div>
              <div class="info">
                <p class="key">Data</p>
                <p class="value">12/08/20</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="logo">
              <img src="./assets/img/acea-logo.png" alt="logo provider de servicii">
            </div>
            <i class="fas fa-ellipsis-v"></i>
            <div class="container-info">
              <p class="title">Acea</p>
              <div class="info">
                <p class="key">Serviciu</p>
                <p class="value">Apa</p>
              </div>
              <div class="info">
                <p class="key">Pret</p>
                <p class="value">13 lei/m³</p>
              </div>
              <div class="info">
                <p class="key">Data</p>
                <p class="value">12/08/20</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="right"></div>
    </div>
  </div>
</main>
